# Backend Spring Boot
SERVER_PORT=8080
JWT_SECRET=reemplazar_por_una_clave_larga_y_aleatoria
GOOGLE_CLIENT_ID=tu_cliente_google.apps.googleusercontent.com

# PostgreSQL / Neon
DATABASE_URL=jdbc:postgresql://tu-host:5432/tu_base?sslmode=require
DATABASE_USERNAME=tu_usuario
DATABASE_PASSWORD=tu_contrasena

# PocketBase
POCKETBASE_URL=http://127.0.0.1:8090
POCKETBASE_ADMIN_EMAIL=admin@ejemplo.com
POCKETBASE_ADMIN_PASSWORD=tu_contrasena_pocketbase

# Correo SMTP
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=correo@ejemplo.com
MAIL_PASSWORD=contrasena_de_aplicacion

# Pasarela Node
PORT=4000
PAYPHONE_BASE_URL=https://pay.payphonetodoesposible.com
PAYPHONE_TOKEN=token_sandbox_payphone
PAYPHONE_STORE_ID=store_id_sandbox_payphone
PAYPAL_CLIENT_ID=client_id_sandbox_paypal
PAYPAL_CLIENT_SECRET=client_secret_sandbox_paypal
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com

# Frontend React
REACT_APP_BACKEND_URL=http://localhost:8080
REACT_APP_NODE_URL=http://localhost:4000
REACT_APP_PAYPAL_CLIENT_ID=client_id_sandbox_paypal