PORT=4000
BASE_URL=http://localhost:4000

PAYPHONE_BASE_URL=https://pay.payphonetodoesposible.com
PAYPHONE_TOKEN=colocar_token_de_payphone
PAYPHONE_STORE_ID=colocar_store_id_de_payphone

PAYPAL_CLIENT_ID=colocar_client_id_sandbox
PAYPAL_CLIENT_SECRET=colocar_client_secret_sandbox
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
